@import '../../../../styles/mixins.scss';

.checkbox-buttons {
  margin-top: 0.4rem;
  width: 100%;
  display: flex;
  flex: 1;
  margin-right: 0 !important;

  > div:first-child {
    width: 50%;
    margin-right: 7.2rem;
  }

  > div:last-child {
    width: 50%;

    > div:first-child {
      margin-bottom: 2.4rem;
    }
  }

  @include mobile {
    flex-direction: column;

    > div:first-child {
      width: 100%;
      margin-right: 0;
    }

    > div:last-child {
      width: 100%;
    }
  }
}
