@import '../../../styles/settings.scss';

.login-uport {
  display: flex;
  flex-direction: column;

  span:first-child {
    font-weight: 500;
  }

  &__headline {
    font-weight: 500;
    font-size: 3rem;
  }

  &__message {
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 2.5rem;
    width: auto;
  }

  &__qrcode {
    margin: 1rem 0;

    & > * {
      background-color: $white;
      padding: 2rem;
      border-radius: 4px;
    }
  }

  &__no-uport {
    margin: 1rem 0;
  }

  &__app-store-icons {
    margin-top: 1rem;
    > * {
      margin-right: 1rem;
    }
  }
}
