@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.invest-card {
  a {
    color: $primary-main;
  }
  border-bottom: 4px solid $primary-main;
  display: inline-flex;
  flex-direction: column;
  padding: 1.2rem;
  white-space: wrap;
  word-break: break-all;

  @include desktop {
    max-width: 30%;
  }

  .invest-card__heading {
    margin-bottom: 2.4rem;

    .invest-card__heading__top {
      display: flex;
      justify-content: space-between;

      > h3 {
        font-size: 2.4rem;
        font-weight: 500;
        margin-bottom: 0.8rem;
      }
    }

    > p {
      margin-bottom: 0.4rem;
    }

    > div {
      font-size: 1.4rem;
    }
  }

  .invest-card__buttons {
    display: flex;
    margin-top: auto;

    > a {
      display: block;
      margin-left: 1.2rem;
      flex: 1;
      button {
        width: 100%;
      }
    }
  }

  &--EUR36 {
    background-image: url('../../../assets/BalanceCard/euro.svg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  }

  &--CHF36 {
    background-image: url('../../../assets/BalanceCard/franc.svg');
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  }

  @include mobile {
    width: 100%;
  }
}
