.history-date-range {
  padding: 1rem 2rem;
  display: inline-flex;
  flex-wrap: wrap;
}



// '&:not(:last-child)': {
//   borderRight: `1px solid ${theme.palette.greys.lightGrey}`,
//   marginRight: '2rem',
//   paddingRight: '2rem'
// }

