@import '../../styles/mixins.scss';

.add-wallet-form {
  button {
    display: flex;
    margin: 2rem auto 0;

    svg {
      color: #fff;
    }
  }

  @include mobile {
    button {
      width: 100%;
    }
  }
}
