# https://help.github.com/en/packages/using-github-packages-with-your-projects-ecosystem/configuring-npm-for-use-with-github-packages#installing-packages-from-other-organizations
# https://github.com/actions/setup-node/issues/87
# 2123cf689a93fcad0cebc7bd78b9c0ecd8f13085
registry=https://registry.npmjs.org
@element36-io:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=c3348afe1fb7026671b5dfbb9bffd9ee6cef9e26
# always-auth=true
_authToken=c3348afe1fb7026671b5dfbb9bffd9ee6cef9e26
