# https://help.github.com/en/packages/using-github-packages-with-your-projects-ecosystem/configuring-npm-for-use-with-github-packages#installing-packages-from-other-organizations
registry=https://registry.npmjs.org
@element36-io:registry=https://npm.pkg.github.com/element36-io