# https://help.github.com/en/packages/using-github-packages-with-your-projects-ecosystem/configuring-npm-for-use-with-github-packages#installing-packages-from-other-organizations
# https://github.com/actions/setup-node/issues/87
registry=https://registry.npmjs.org
@element36-io:registry=https://npm.pkg.github.com/element36-io
#//npm.pkg.github.com/:_authToken=$NPM_AUTH_TOKEN
#always-auth=true
#_authToken=$NPM_AUTH_TOKEN