@import '../../../styles/mixins.scss';
@import '../../../styles/settings.scss';

.personal-information {
  margin-top: 4rem;

  &__error-message {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
  }

  @include desktop {
    width: 65%;
  }

  @include tablet {
    width: 100%;
  }

  @include mobile {
    > form {
      > button {
        margin-top: 1rem;
      }
    }
  }

  > h2 {
    margin-bottom: 2.4rem;
  }
  > form {
    padding: 2.4rem;

    > span {
      text-align: center;
    }

    > div:first-child {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $grey-border;
      margin-bottom: 1.6rem;
      padding-bottom: 1rem;

      > h3 {
        display: flex;
        align-items: center;
      }

      > button {
        background-color: transparent;
        outline: none;
        border: none;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  &__content {
    > h3 {
      margin: 1.6rem 0;
    }

    > div {
    display: grid;
      @include desktop {
        grid-template-columns: 20rem 1fr;
        grid-column-gap: 25rem;
        margin-bottom: 2.5rem;
      }

      @include tablet {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20rem;
      }

      @include mobile {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    > div:first-child {
      border-bottom: 1px solid $grey-border;
      padding-bottom: 1.6rem;
    }
  }
}