@import '../../../styles/settings.scss';
@import '../../../styles/utils.scss';

.history__export-data {
  > button {
    @extend .paper;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2.4rem;
    height: 100%;

    background-image: none;
    text-transform: none;

    &:first-child {
      > span {
        color: $black;
        font-weight: 400;
      }
    }

    img {
      margin-right: .5rem;
    }
  }
}