@import '../../../styles/settings.scss';

.buy-tokens {
  margin-top: 13.6rem;
  margin-bottom: 3.2rem;
  display: flex;
  flex-direction: column;

  > h2 {
    text-align: center;
    margin-bottom: 3.2rem;
  }

  &__inputs {
    display: flex;
    border-radius: 4px;
    border: 1px solid rgba(1,21,44,0.1);
    padding: 1.3rem;
    height: 7rem;
    widows: 5.75rem;
    box-shadow: 0 5px 6px 0 rgba(0,0,0,0.05);

    &:focus-within {
      border-bottom: 2px solid $primary-main;
    }

    > div:first-child {
      border-right: 1px solid #B3C6D5;
    }

    > div:last-child {
      width: 60%;
      margin-left: 1.3rem;
    }
  }

  &__number-input {

    transform: translateY(.5rem)
  }
}