// COLORS

$primary-light: #6bafe6;
$primary-light-2: #e4eefa;
$primary-light-3: #308fee;
$primary-main: #469CE0;
$primary-dark: #316d9c;
$primary-dark-2: #316d9c;

$secondary-light: #ff7961;
$secondary-main: #f44336;
$secondary-dark: #ba000d;

$text-disabled: rgba(0, 0, 0, 0.38);
$text-hint: rgba(0, 0, 0, 0.38);
$text-primary: rgba(0, 0, 0, 0.87);
$text-secondary: rgba(0, 0, 0, 0.54);

$white: #fff;
$black: #272727;

$darkGrey: #949CA8;
$headerGrey: #F9F9FC;
$lightGrey: #ededed;
$backgroundGrey: #FCFCFC;

$warningRed: #EF9A9A;
$processingYellow: #F9F6DF;
$completeGreen: #ECFAF7;

$gradient-primary: linear-gradient(to left bottom, $primary-dark, $primary-main);


$euro-light: #6579B9;
$euro-dark: #634E91;
$gradient-euro: linear-gradient(to right top, $euro-dark, $euro-light);

$franc-light: #F9B48D;
$franc-dark: #FD7B6F;
$gradient-franc: linear-gradient(to right top, $franc-dark, $franc-light);

$box-shadow-1: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
