// COLORS

$primary-light: #6bafe6;
$primary-light-2: #e4eefa;
$primary-main: #469CE0;
$primary-dark: #316d9c;
$primary-dark-2: #316d9c;

$secondary-light: #ff7961;
$secondary-main: #f44336;
$secondary-dark: #ba000d;

$white: #fff;
$black: #272727;

$darkGrey: #949CA8;
$headerGrey: #F9F9FC;
$lightGrey: #ededed;
$backgroundGrey: #FCFCFC;

$warningRed: #EF9A9A;
$processingYellow: #F9F6DF;
$completeGreen: #ECFAF7;

$gradient-primary: linear-gradient(to left bottom, $primary-light, $primary-dark);
