@import './settings.scss';

.page-wrapper {
  padding-bottom: 2.4rem;
}

.paper {
  background-color: $white;
  box-shadow: $box-shadow-1;
  border-radius: 10px;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
