@import './settings.scss';
@import './mixins.scss';

.paper {
  background-color: $white;
  box-shadow: $box-shadow-1;
  border-radius: 10px;
}

.token-actions {
  max-width: 117rem;

  @include desktop {
    margin: -4.8rem auto 0;
  }

  @include mobile {
    margin: 0 1rem;
  }
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
