@import '../../../styles/mixins.scss';

.login__header {
  position: relative;
  display: flex;
  justify-content: flex-start;

  @include desktop {
    width: 100%;
    min-height: 48px;
  }

  @include mobile {
    > *
    {
      position: fixed;
      z-index:20;
      top: 1.6rem;
      left: 1rem;
      }

    .nav-btn {
      right: 1rem;
      left: auto;
      }
  }
}
