@import '../../styles/mixins.scss';
@import '../../styles/settings.scss';

.add-wallet-button {
  display: flex;
  align-items: center;

  img {
    margin-right: 0.8rem;

    @include mobile {
      width: 2rem;
      height: 2rem;
    }
  }
}
