@import '../../../styles/settings';

.activity-table-action {
  > div:first-child {
    color: $text-secondary;
    font-size: 1.4rem;
  }

  a {
    color: $link-blue-1;
  }

  > span {
    width: 100%;
  }
}
