@import '../../../styles/settings.scss';

.payment-method {
  margin: 6rem 0 3.2rem 0;
  display: flex;
  flex-direction: column;

  > h2 {
    text-align: center;
    margin-bottom: 3.2rem;
  }



  &__separator {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin: 0 2rem;
  }

  &__buttons {
    display: flex;

    &--heading {
      text-transform: none;
      margin-bottom: 5rem;
    }

    button {
      background-image: none;
      border: 0 solid rgba(36,145,233,0.2);
      box-shadow: 0 10px 20px 0 rgba(28,141,233,0.1);
      width: 26.2rem;
      height: 22.1rem;
      border-radius: 12px;
      > * { color: $text-black-1; }
      span:first-child {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: -1rem;
      }
    }


    &--icon {
      width: 7.2rem;
      height: 7.2rem;
    }
  }
}