@import '../../../styles/mixins.scss';
@import '../../../styles/settings.scss';

.verification-form__actions {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-column-gap: 2.4rem;
  font-size: 1.6rem;

  button {
      background-image: $gradient-primary;
      color: $white;

    &:first-child {
      background: #ECF6FE;
      > span {
        color: $primary-main;
      }
    }
  }

  @include mobile {
    grid-template-columns: 1fr;

    button {
      &:first-child {
        order: 2;
        background: #fff;
      }
    }
  }
}