@import '../../styles/settings.scss';

.new-wallet {
  padding: 3.2rem;

  .add-wallet__success {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem auto 0;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: $gradient-green-1;
    color: #fff;
    font-size: 3.5rem;
  }
}
