@import '../../styles/settings.scss';
@import '../../styles/mixins.scss';

.new-wallet {
  position: relative;
  padding: 3.2rem;

  svg.add-wallet-dialog__close {
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;
    fill: $darkGrey;
    cursor: pointer;
  }

  .add-wallet__success {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem auto 0;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: $gradient-green-1;
    color: #fff;
    font-size: 3.5rem;
    cursor: pointer;
  }

  @include mobile {
    display: flex;
    height: 100%;
    padding: 2rem;

    svg.add-wallet-dialog__close {
      right: 1rem;
    }
  }
}
