@import '../../styles/mixins.scss';

.balance-cards {
  padding-bottom: .5rem;
  justify-content: space-between;

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  @include tablet {
    display: flex;
    overflow: auto;
    flex-wrap: nowrap;
  }

  @include mobile {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
  }
}