@import '../../../../styles/mixins.scss';

.radio-buttons-group {
  > h4 {
    margin-bottom: 1rem;
  }

  @include mobile {
    > h4 {
      font-size: 1.8rem;
    }
    > div {
      > label {
        > span {
          font-size: 1.8rem;
        }
      }
    }
  }
}
