@import '../../styles/settings.scss';

.avatar {
  position: relative;
  background: $primary-light-4;
  border-radius: 16px;
  // overflow: hidden;

  .error-text {
    font-size: 1.2rem;
    position: absolute;
    padding: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: $primary-light-4;
    text-align: center;
    width: 100%;
    z-index: 300;
  }

  input {
    position: absolute;
    left: -9999px;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $primary-light-3;
  }
}
