@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.choose-transfer-amount {
  max-width: 57.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  > hr {
    margin: 3.2rem 0;
    border-bottom: 1px solid $grey-border;
    border-top: none;
    width: 120%;
  }

  > div:first-child {
    align-items: center;
    display: flex;
    flex-direction: column;
    > h4 {
      text-align: center;
      margin-bottom: 1.6rem;
    }

    > i {
      color: $primary-light-3;
      width: 5.6rem;
      height: 5.6rem;
      border-radius: 16px;
      background-color: $grey-blue;
      display: flex;
      align-items: center;
      font-size: 1.8rem;
      justify-content: center;
      margin-bottom: 1.6rem;
    }

    > h3 {
      letter-spacing: -1px;
      text-align: center;
    }
  }

  @include mobile {
    > hr {
      margin: 3.2rem 0;
      border-bottom: 1px solid $grey-border;
      border-top: none;
      width: 100%;
    }

    > div:first-child {
      > h3 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 70vw;
      }
    }
  }
}