@import '../../styles/settings.scss';

.login {
  display: flex;
  flex: 1;

  >div {
    position: relative;
    height: 100vh;
  }

  >div:first-child {
    width: 40%;
    padding: 4.5rem 6rem;
  }

  >div:last-child {
    background-image: url(../../assets/background-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
  }

  &__header {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 6rem;
  }

  &__terms {
    font-size: 1.2rem;
    position: absolute;
    bottom: 2rem;
  }
}
