@import '../../../../styles/settings.scss';

.activity-table-status {
  display: inline-flex;
  padding: .3rem;
  padding-right: .5rem;
  border-radius: 4px;

  &__icon {
    border-right: 1px solid $lightGrey;
    margin-right: .5rem;
    padding: .3rem;
  }

  &__text {
    text-transform: uppercase;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
  }

  &__complete {
    background-color: $completedGreen;
  }

  &__processing {
    background-color: $processingYellow;
  }

  &__on-hold {
    background-color: $warningRed;
  }

  &__open {
    background-color: $headerGrey;
  }
}
