@import '../../styles/settings.scss';
@import '../../styles/mixins.scss';

.history {
  &__loader {
    display: flex;
    justify-content: center;
    margin-top: 14.4rem;
  }
  &__content {
    max-width: 117rem;
    margin: 0 auto;
  }

  &__filters {
    margin-bottom: 2.4rem;
    display: flex;

    > *:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__filter-loader-wrapper {
    position: relative;
  }

  &__filter-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    svg {
      position: relative;
      opacity: 1;
      z-index: 15;
    }
  }

  &__filter-no-results {
    border-radius: 12px;
    margin: 3rem 0;
    padding: 3rem;

    > p {
      color: $text-secondary;
    }
  }

  &__no-activity {
    border-radius: 12px;
    margin: 3rem 0;
    padding: 3rem;
    > h3 {
      font-weight: 400;
    }
    > p {
      color: $text-secondary;
      margin-top: 2rem;
    }
  }

  @include mobile {
    &__filters {
      margin-top: 2.4rem;
      width: 100%;

      > div:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}